
<div class="nav-tabs-custom nav-tabs-custom-kodi">
  <ul class="nav nav-tabs">
    <li ng-class="{active: vm.view == 'remote'}">
      <a href="#" ng-click="vm.view = 'remote'">
        <i class="fa fa-calculator"></i> 
        <span class="hidden-xs">Télécommande</span>
      </a>
    </li>
    <li ng-class="{active: vm.view == 'devices'}">
      <a href="#" ng-click="vm.view = 'devices'">
        <i class="fa fa-list"></i> 
        <span class="hidden-xs">Appareils</span>
      </a>
    </li>
  </ul>

  <div  ng-show="vm.view == 'remote' && vm.devices.length > 0">
    
    <div ng-show="vm.devices.length > 0">
      <div class="row_remote text-center">
        <select ng-model="vm.deviceRemote" ng-options="device.name for device in vm.devices" class="form-control"></select>
        <hr>
      </div>
      <div ng-show="vm.deviceRemote.id">
        <p ng-show="vm.deviceRemote.connected == 1" class="text-center text-success">Connecté</p>
        <p ng-show="vm.deviceRemote.connected == 0" class="text-center text-danger">Déconnecté</p>
        <div class="row_remote btn-circle text-center">
          <button ng-click="vm.remoteDevice('back')" class="btn btn-default"><i class="fa fa-undo"></i></button>
          <button ng-click="vm.remoteDevice('up')" class="btn btn-primary"><i class="fa fa-chevron-up"></i></button>
          <button ng-click="vm.remoteDevice('osd')" class="btn btn-default"><i class="fa fa-home"></i></button>
        </div>
        <div class="row_remote btn-circle text-center">
          <button ng-click="vm.remoteDevice('left')" class="btn btn-primary"><i class="fa fa-chevron-left"></i></button>
          <button ng-click="vm.remoteDevice('select')" class="btn btn-primary">OK</button>
          <button ng-click="vm.remoteDevice('right')" class="btn btn-primary"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="row_remote btn-circle text-center">
          <button ng-click="vm.remoteDevice('contextmenu')" class="btn btn-default"><i class="fa fa-bars"></i></button>
          <button ng-click="vm.remoteDevice('down')" class="btn btn-primary"><i class="fa fa-chevron-down"></i></button>
          <button ng-click="vm.remoteDevice('info')" class="btn btn-default"><i class="fa fa-info"></i></button>
        </div>
        <div class="row_remote btn-circle text-center">
          <button ng-click="vm.remoteDevice('pause')" class="btn btn-default"><i class="fa fa-play"></i></button>
          <button ng-click="vm.remoteDevice('stop')" class="btn btn-default"><i class="fa fa-stop"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="vm.devices.length == 0">
      <div class="alert alert-info">
        <i class="fa fa-info"></i>
        Vous n'avez pas encore ajouter d'appareil. Cliquez sur "Appareils".
      </div>
    </div>

  </div>

  <div ng-show="vm.view == 'devices'">
    <div ng-show="vm.error.destroyDevice" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.destroyDevice = false" type="button" class="close">x</button>
      {{vm.error.destroyDevice | errorToString}}
    </div>
    <table class="table" ng-show="vm.devices.length > 0" style="margin-bottom:20px;">
      <thead>
        <tr>
          <th>Status</th>
          <th>ID</th>
          <th>Nom</th>
          <th>Pièce</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="device in vm.devices">
          <td><i class="fa fa-square" ng-class="{'text-red': device.connected == 0, 'text-green': device.connected == 1}"></i></td>
          <td>{{device.id}}</td>
          <td>{{device.name}}</td>
          <td>{{device.room.name}}</td>
          <td>
            <button ng-click="vm.viewEdit(device)" class="btn btn-primary btn-xs">Editer</button> 
            <button ng-click="vm.destroyDevice(device)" class="btn btn-danger btn-xs">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
      
    <div class="form-group text-center">
      <button class="btn btn-primary" ng-click="vm.modal = 'new'"><i class="fa fa-plus"></i> Ajouter un appareil</button>
    </div>

  </div>

</div>

<!-- modal -->
<div class="modal modal-kodi" ng-show="vm.modal">
  <div class="modal-dialog">
    <div ng-if="vm.modal" ng-include src="'/kodi.modal.'+ vm.modal +'.html'" class="modal-content" id="kodi-modal-content"></div>
  </div>
</div><!-- modal -->

<!-- modal content -->
<script type="text/ng-template" id="/kodi.modal.new.html">
  <div class="modal-header">
    <button ng-click="vm.modal=false" type="button" class="close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Add a device</h4>
  </div>
  <div class="modal-body">
    <div ng-show="vm.error.addDevice" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.addDevice = false" type="button" class="close">x</button>
      {{vm.error.addDevice | errorToString}}
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <input ng-model="vm.new_device.name" type="text" class="form-control" placeholder="Nom affiché sur gladys">
      </div>
      <div class="form-group">
        <input ng-model="vm.new_device.host" type="text" class="form-control"placeholder="IP ou nom de domaine">
      </div>
      <div class="form-group">
        <input ng-model="vm.new_device.port" type="text" class="form-control" placeholder="Port d'accès">
      </div>
      <div class="form-group">
        <select ng-model="vm.new_device.room" class="form-control">
          <option ng-repeat="room in vm.rooms" value="{{room.id}}">{{room.name}}</option>
        </select>
      </div>
      <div class="form-group text-right">
        <button ng-click="vm.addDevice(vm.new_device)" class="btn btn-primary">Add</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>
<script type="text/ng-template" id="/kodi.modal.edit.html">
  <div class="modal-header">
    <button ng-click="vm.modal=false" type="button" class="close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Edit a device</h4>
  </div>
  <div class="modal-body">
    <div ng-show="vm.error.updateDevice" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.updateDevice = false" type="button" class="close">x</button>
      {{vm.error.updateDevice | errorToString}}
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <input ng-model="vm.device.name" type="text" class="form-control" placeholder="Nom affiché sur gladys">
      </div>
      <div class="form-group">
        <input ng-model="vm.device.host" type="text" class="form-control"placeholder="IP ou nom de domaine">
      </div>
      <div class="form-group">
        <input ng-model="vm.device.port" type="text" class="form-control" placeholder="Port d'accès">
      </div>
      <div class="form-group">
        <select ng-model="vm.device.room" class="form-control">
          <option ng-repeat="room in vm.rooms" value="{{room.id}}">{{room.name}}</option>
        </select>
      </div>
      <div class="form-group text-right">
        <button ng-click="vm.updateDevice(vm.new_device)" class="btn btn-primary">Add</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>